services:
  broker-service:
    build:
      context: ./broker-service
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8181:80"
    deploy:
      mode: replicated
      replicas: 1

  authentication_service:
    build:
      context: ./authentication-service
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8082:80"
    deploy:
      mode: replicated
      replicas: 1

  mail-service:
    build:
      context: ./mail-service
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8084:80"
    deploy:
      mode: replicated
      replicas: 1

  logger-service:
    build:
      context: ./logger-service
      dockerfile: Dockerfile
    restart: always
    deploy:
      mode: replicated
      replicas: 1

  postgres:
    image: "postgres:14.0"
    ports:
      - "5431:5432"
    restart: always
    deploy:
      mode: replicated
      replicas: 1 # Usually only 1 for stateful DB unless using Patroni or similar
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: users
    volumes:
      - ./db-data/pg:/var/lib/postgresql/data/

  mongo:
    image: "mongo:4.2.16-bionic"
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: logs
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - ./db-data/mongo:/data/db

  rabbitmq:
    image: "rabbitmq:3.19-alpine"
    ports:
      - "5672:5672"
    deploy:
      mode: replicated
      replicas: 1
    volumes:
      - ./db-data/rabbitmq:/var/lib/rabbitmq/
